
:root{
  --white: #FFFFFF ; 
  --darkcolor: #F2E9E4;
  --lightcolor: #EFE2D3 ;
  --navcolor: #724E35 ;
  --textcolor: #000000;
  font-family: "Arial", sans-serif; 
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

body{
  padding: 0;
  margin: 0;
}
