
:root{
  --white: #EDF2F5 ; 
  --darkcolor: #CCD4D9;
  --lightcolor: #EDF2F5 ;
  --navcolor: #9FB0BF ;
  --textcolor: #51606B;
  font-family: "Arial", sans-serif; 
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none; 
}

body{
  padding: 0;
  margin: 0;
}